.card-title{
  color: #6c757d;
  font-size: 1rem;
  margin: 10px 0;
  font-weight: bold;
  text-transform: uppercase;
}
.empty-category{
  .card{
    max-width: 600px;
  }
  .header{
    padding: .3rem .4rem !important;
  }
  button{
    width: 125px;
  }
}
